.row {
	border: 3px;
	padding: 10px;
	margin-bottom: 15px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	display: inline-block;
	text-align: center;
}

table, tr, th, td {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	padding: 10px;
}

th {
	text-align: center;
}